body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .servicio {
    width: 14rem;
    padding: 1rem;
    border-radius: 19px;
    text-align: center;
  
    box-shadow: 0px 4px 11px 1px #00000049;
  }
  
  .servicio img {
    width: 100%;
  }
  
  .servicio .texto {
    margin: 2rem 0 1rem;
  }
  
  .servicio .texto button {
    background-color: teal;
    color: white;
    border: none;
    padding: 0.5rem 2rem;
    border-radius: 19px;
    font-weight: bold;
    font-size: 1.02rem;
    cursor: pointer;
  }
  
  .servicio .texto button:hover {
    background-color: rgb(26, 87, 87);
  }