* {
  margin: 0;
  padding: 0;
}

p {
  color: black;
}

html {
  background-color: white;
}

main {
  display: flex;
  flex-direction: column;
}

.menu-desktop {
  display: none;
}

.titulo {
  display: flex;
  padding: 0.5rem;
  width: 1.5rem;
  height: 1.5rem
}

.titulo p {
  margin-left: 0.5rem;
  margin-top: 0.3rem;
  color: #CE5D5B;
}

.navbar {
  background-color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: 2.75rem;
}

.navbar img {
  width: 1.5rem;
  height: 1.5rem;
}

.navbar ul {
  display: none;
  position: absolute;
  right: 0px;
  top: 3.375rem;
  background-color: #CE5D5B;
}

.navbar ul li {
  width: 100vw;
  height: 3.5rem;
  display: flex;
  align-items: center;
}

.navbar ul li a {
  padding-left: 1rem;
  text-decoration: none;
  font-family: "IBM Plex Mono", monospace;
  color: white;
  list-style: none;
}


.navbar .activar-menu {
  position: relative;
  height: 1.5rem;
}

.navbar .activar-menu input {
  padding: 1rem;
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  z-index: 4;
  height: 1.5rem;
  width: 1.5rem;
  opacity: 0;
}

.navbar .activar-menu input:checked~ul {
  display: flex;
  flex-flow: column wrap;
}

.navbar .activar-menu input:checked~.fa-bars {
  opacity: 0;
}

.navbar .activar-menu input:checked~.fa-times {
  opacity: 1;
}

.navbar .activar-menu .fas {
  padding: 0.5rem;
  position: absolute;
  right: 0px;
  height: 1.5rem;
  width: 1.5rem;
  font-size: 1.5rem;
  color: #CE5D5B;
}

.navbar .activar-menu .fa-bars {
  z-index: 3;
}

.navbar .activar-menu .fa-times {
  z-index: 2;
  opacity: 0;
}

.seccion1 {
  background-color: #5B5656;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seccion1 article img {
  margin: 0;
  padding-top: 3rem;
  width: 150px;
  height: 150px;
}

article {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
}

article h2 {
  color: white;
  text-align: center;
  font-family: K2D;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
}

article p {
  color: white;
  font-family: K2D;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  text-align: center;
}

.seccion2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seccion2 article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seccion2 article h2 {
  margin: 0.5rem;
  font-family: K2D;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  color: #FC4850;
}

.secc2 {
  color: black;
  font-family: K2D;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  text-align: center;
}

.secc2d {
  display: none;
}

.redon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 99%;
  background-color: #FC4850;
  margin: 0.5rem;
  padding: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem
}

.container article p {
  font-family: K2D;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  text-align: center;
}


.seccion3 {
  display: flex;
  padding: 1rem;
  padding-bottom: 2rem;
  flex-direction: column;
  align-items: center;
  background-color: #5B5656;
}

.seccion3 img {
  display: none;
}

.container-btn {
  display: flex;
  flex-direction: column;
}

.seccion3 button {
  width: 200px;
  border: none;
  margin: 0.5rem;
  border-radius: 15px;
  padding: 00.5rem;
  background-color: #FC4850;
  color: white;
}

.seccion4 {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;

}

.seccion4 h2 {
  margin: 1rem;
  font-family: K2D;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  color: #FC4850;
}

.container4{
  display: flex;
  flex-direction: column;
}
.seccion4 article {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.seccion4 img {
  width: 60px;
  height: 60px;
  border-radius: 99%;
  align-self: flex-start;
}

.seccion4 article div {
  display: flex;
  padding-top: 0.5rem;
  flex-direction: column;
  justify-content: center;
}

.seccion4 article div p {
  padding-left: 0.3rem;
  font-family: K2D;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  color: #686868;
}

.seccion4 article div p.tex-color {
  padding-top: 0.5rem;
  align-self: flex-start;
  color: #FC4850;
}

.sec-desktop{
  display: none;
}
.seccion5 {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  background-color: #FC4850;
  align-items: center;
}

.seccion5 p {
  font-family: K2D;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  color: #FFFFFF;
}

.seccion5 button {
  width: 200px;
  border: none;
  margin: 2rem;
  border-radius: 15px;
  padding: 00.5rem;
  background-color: white;
  color: #FC4850;
}

footer {
  background-color: #34495E;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer p {
  font-family: K2D;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  color: #FFFFFF;
}


@media screen and (min-width: 721px) {

  .activar-menu {
    display: none;
  }

  .titulo p {
    font-size: 36px;
    margin-top: 0;
  }

  .navbar {

    height: 3.75rem;
  }

  .menu-desktop {
    display: flex;

  }

  .menu-desktop a {
    margin-top: 1rem;
    margin-right: 1rem;
    font-family: K2D;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    text-decoration: none;
    color: #686868;

  }

  .navbar img {
    width: 2.5rem;
    height: 2.5rem;
  }

  .navbar p {

    font-size: 36px;
  }

  .menu-desktop button {
    margin-top: 0.7rem;
    margin-right: 1rem;
    width: 200px;
    height: 40px;
    font-size: 24px;
    border: none;
    border-radius: 15px;

    background-color: #FC4850;
    color: white;
  }

  .seccion1 article {
    display: flex;
    flex-direction: row-reverse;


  }

  .seccion1 article img {
    width: 300px;
    height: 300px;
    padding: 100px;
  }

  .seccion1 article div {
    padding-right: 450px;

  }

  .seccion1 article h2 {
    width: 338.27px;
    height: 91.84px;

    font-family: K2D;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 94px;
    color: #FFFFFF;
    text-align: left;
  }

  .seccion1 article p {

    left: 132.2px;
    top: 353.84px;
    font-family: K2D;
    font-size: 36px;
    color: #FFFFFF;
    text-align: left;

  }


  .secc2 {
    display: none;
  }


  .seccion2 article {
    align-self: flex-start;
  }

  .seccion2 article h2 {
    font-weight: bold;
    margin-left: 2.5rem;
    font-size: 72px;
    align-self: flex-start;
  }


  .secc2d {
    width: 100%;
    margin-left: 5rem;
    display: inline;
    color: black;
    font-family: K2D;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    text-align: left;

  }


  .seccion2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container {
    width: 110%;
    padding-right: 10rem;
    margin-bottom: 2rem;
    flex-direction: row;
    justify-content: space-around
  }


  .seccion3 {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0;

  }

  .seccion3 img {
    display: inline;
    width: 360px;
    height: 615px;
    padding-top: 8rem;
    margin-right: 5rem;
  }

  .seccion3 h2 {
    font-weight: bold;
    font-size: 72px;
    justify-self: right;
  }

  .seccion3 p{
    font-size: 36px;
    margin-left: 3rem;
    align-self: flex-start;
  }

  .container-btn{
    margin-left: 2.5rem;
    padding-left: 0;
    flex-direction: row;
    margin-top: 1rem;
  }


  .seccion4 h2 {
    font-weight: bold;
    margin-left: 2.5rem;
    font-size: 72px;
    align-self: flex-start;
  }

  .container4{
    flex-direction: row;
    justify-content: left;
    margin-top: 2rem;
    margin-left: 3rem;
  }

  .container4 article{
    margin-right: 10rem;
  }

  .container4 article img{
    width: 110px;
    height: 110px;
  }

  .container4 article p{
    font-size: 18px;
  }


  .sec-mob{
    display: none;
    
  }

  .sec-desktop{
    display: inline;
  }
  .seccion5  p{
    font-size: 72px;
  }

  .seccion5 button{
    width: 270px;
    height: 60px;
    font-size: 36px;
  }

  footer p{
    font-size: 18px;
  }
}