body {

    font-family: Arial, Helvetica, sans-serif;

    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

main {
    background: white;
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main img {

    border: 1rem solid white;
    outline: 1pt solid black;
}

main button {

    cursor: pointer;
    border-radius: 11px;
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
    transition: all 0.2s ease-in-out;

}

main button:hover {
    transform: scale(1.1) rotate(-5deg);
}