* {
  margin: 0;
  padding: 0;
}

html {
  background-color: white;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

p {
  font-family: "IBM Plex Mono", monospace;
  margin: 1rem;
}

h1,
h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  margin: 1rem;
}

/*---------NAVBAR-------------*/
.menu-desktop {
  display: none;
  /*oculta el menu desktop*/
}

.navbar {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 2.75rem;
}

.navbar ul {
  display: none;
  position: absolute;
  right: 0px;
  top: 3.375rem;
  background-color: #00bb2d;
}

.navbar ul li {
  width: 100vw;
  height: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar ul a {
  padding-left: 1rem;
  text-decoration: none;
  font-family: "IBM Plex Mono", monospace;
  color: white;
  list-style: none;
}

.navbar .activar-menu {
  position: relative;
  height: 1.5rem;
}

.navbar .activar-menu input {
  padding: 1rem;
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  z-index: 4;
  height: 1.5rem;
  width: 1.5rem;
  opacity: 0;
}

.navbar .activar-menu input:checked ~ ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.navbar .activar-menu input:checked ~ .fa-bars {
  opacity: 0;
}

.navbar .activar-menu input:checked ~ .fa-times {
  opacity: 1;
}

.navbar .activar-menu .fas {
  padding: 1rem;
  position: absolute;
  right: 0px;
  font-size: 2rem;
  color: #00bb2d;
}

.navbar .activar-menu .fa-bars {
  z-index: 3;
}

.navbar .activar-menu .fa-times {
  z-index: 2;
  opacity: 0;
}

.navbar .logo {
  border-radius: 50%;
  background-color: #00bb2d;
  height: 1.75rem;
  width: 1.75rem;
  font-size: 24px;
  text-decoration: none;
  text-align: center;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  margin: 0.5rem;
  padding: 0.5em;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
  margin: 4rem;
  margin-bottom: 0;
}

.hero h1 {
  font-size: 36px;
  width: 60%;
}

.hero span {
  color: #00bb2d;
}

.hero .subtitle {
  margin-top: 1rem;
  padding-bottom: 0.5rem;
  font-size: 16px;
  font-family: "IBM Plex Mono", monospace;
}

.hero button {
  margin-top: 2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: black;
  background-color: white;
  border-color: #00bb2d;
  width: 300px;
  font-size: 16px;
  padding: 1rem;
  font-family: "IBM Plex Mono", monospace;
}

.episodes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #00bb2d;
  -webkit-clip-path: polygon(0 6%, 100% 0, 100% 94%, 0% 100%);
          clip-path: polygon(0 6%, 100% 0, 100% 94%, 0% 100%);
  padding: 6vh 1rem 34vh;
}

.episodes h2 {
  color: white;
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-family: "IBM Plex Plex Sans", monospace;
  font-size: 36px;
}

.where-we-come-from {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(-15%);
          transform: translateY(-15%);
}

.guests {
  -webkit-transform: translateY(-4%);
          transform: translateY(-4%);
}

.guests .fotos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-topics {
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
}

.our-topics .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.our-topics .container article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.5rem;
}

.our-topics .container article strong {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 24px;
  padding: 0.5rem;
  width: 180px;
  text-align: center;
}

.our-topics .container article img {
  width: 120px;
  height: 120px;
}
/*# sourceMappingURL=style.css.map */