body {
  margin: 0;
  padding: 0;
  background-color: #706464;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mydiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mydiv p {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 80px;
  width: auto;
  font-family: 'Audiowide', cursive;
  font-size: 50px;
  color: white;
}

nav {
  width: 100%;
  height: 60px;
  background-color: #ec1414;
  margin-bottom: 80px;
}

nav img {
  width: auto;
  height: 150px;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-self: center;
  margin-top: 10px;
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
}

.titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cabecera {
  margin: 30px;
  height: 500px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-color: black;
  border-radius: 30px;
}

.cabecera:hover {
  border: 3pt solid #386cbc;
  -webkit-box-shadow: 0px 4px 11px 1px #00000049;
          box-shadow: 0px 4px 11px 1px #00000049;
  background-color: #ffcc03;
}

.cabecera:hover .cabecera-content {
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.cabecera:hover .cabecera-img {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.cabecera:hover .cabecera-img p {
  visibility: visible;
  z-index: 99;
}

.cabecera-img {
  margin-top: 80px;
  margin-bottom: 100px;
  margin-left: 30px;
  margin-right: 20px;
  background-color: #F2F2F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 350px;
  height: 350px;
  -ms-flex-item-align: center;
      align-self: center;
  border-radius: 99%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  padding: 10px;
  -webkit-box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.cabecera-img img {
  visibility: hidden;
  margin-top: -170px;
  height: 350px;
  width: 350px;
}

.cabecera-img p {
  visibility: hidden;
  font-family: 'Audiowide', cursive;
  font-size: 80px;
  color: #c0c0c0;
  padding-bottom: 15px;
}

.cabecera-content {
  display: none;
}

.cabecera-content h1 {
  background-color: #ECECEC;
  text-align: center;
  border-radius: 11px;
  margin: 15px 0;
  padding: 25px 15px;
  -webkit-box-shadow: 0px 4px 11px 1px #00000049;
          box-shadow: 0px 4px 11px 1px #00000049;
  font-family: 'Audiowide', cursive;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  font-size: 50px;
  margin-top: -50px;
  margin-left: -50px;
}

.cabecera-content .cabecera-tipo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -50px;
}

.cabecera-content .cabecera-tipo p {
  margin: 10px;
  width: 80px;
  text-align: center;
  color: white;
}

.menu-desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  margin: 5px;
}

.menu-desktop a {
  margin-top: 0.7rem;
  margin-right: 1rem;
  font-family: 'Audiowide', cursive;
  font-size: 24px;
  text-align: center;
  text-decoration: overline;
  color: white;
}

.menu-desktop a:hover {
  text-decoration: none;
}

.menu-desktop button {
  background-color: #ffcc03;
  margin-top: 0.3rem;
  margin-right: 1rem;
  width: 150px;
  height: 40px;
  font-size: 24px;
  color: #386cbc;
  border-color: #386cbc;
  border-radius: 25px;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 99;
  font-family: 'Audiowide', cursive;
  font-size: 24px;
}

.fav-container {
  margin: 50px;
}

.favoritos {
  background-color: #F2F2F2;
  min-height: 300px;
  min-width: 400px;
  margin: 60px;
  -ms-flex-line-pack: center;
      align-content: center;
  border-radius: 30px;
}

.favoritos img {
  margin-top: -60px;
  width: 400px;
  height: 100px;
  margin-left: 20px;
}

.container {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.container .btn-alert {
  width: 190px;
  height: 190px;
  font-size: 80px;
  color: rgba(34, 34, 34, 0.38);
  background-color: white;
  border: none;
  float: left;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 99%;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 30px;
  cursor: pointer;
  border: 6px dashed rgba(34, 34, 34, 0.38);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.elementos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 30px;
  width: 235px;
  height: 400px;
  background-color: yellow;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 15px;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
  color: yellow;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.elementos img {
  background-color: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 190px;
  height: 181px;
  margin-top: 15px;
  margin-right: 20px;
  border-radius: 30px;
  -webkit-box-shadow: 0px 4px 11px 1px #00000049;
          box-shadow: 0px 4px 11px 1px #00000049;
}

.elementos p {
  text-align: center;
  -webkit-box-shadow: 10px;
          box-shadow: 10px;
  margin: 10px 0;
  font-weight: bold;
}

.elementos:hover {
  -webkit-transform: scale(1.2) rotate(3deg);
          transform: scale(1.2) rotate(3deg);
}

.elementos:hover .borrar {
  visibility: visible;
  margin: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

.texto {
  color: white;
  font-family: 'Reem Kufi';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
}

.tipo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: white;
  border-radius: 11px;
  margin: 15px 0;
  padding: 8px 25px;
  -webkit-box-shadow: 0px 4px 11px 1px #00000049;
          box-shadow: 0px 4px 11px 1px #00000049;
  font-family: 'Reem Kufi';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.borrar {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: red;
  visibility: hidden;
}

footer {
  justify-self: flex-end;
}

.elementos-jugar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 30px;
  width: 229px;
  height: 366px;
  background-color: yellow;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 15px;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
  color: yellow;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.elementos-jugar img {
  background-color: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 190px;
  height: 181px;
  margin-top: 15px;
  margin-right: 20px;
  border-radius: 30px;
  -webkit-box-shadow: 0px 4px 11px 1px #00000049;
          box-shadow: 0px 4px 11px 1px #00000049;
}

.elementos-jugar p {
  text-align: center;
  -webkit-box-shadow: 10px;
          box-shadow: 10px;
  margin: 10px 0;
  font-weight: bold;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.jugar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.jugar img {
  margin-top: -60px;
  width: 400px;
  height: 100px;
  margin-left: 20px;
}

.btn-buscar {
  background-color: #ffcc03;
  margin-top: 0.3rem;
  margin-right: 1rem;
  width: 150px;
  height: 40px;
  font-size: 24px;
  color: #386cbc;
  border-color: #386cbc;
  border-radius: 25px;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 99;
  font-family: 'Audiowide', cursive;
  font-size: 24px;
}

.container-pokedex {
  padding: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.pokedex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F2F2F2;
  min-height: 300px;
  min-width: 400px;
  margin: 60px;
  -ms-flex-line-pack: center;
      align-content: center;
  border-radius: 30px;
}

footer {
  background-color: #ec1414;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer a {
  text-decoration: none;
  font-family: K2D;
  font-size: 14px;
  color: white;
}

footer p {
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */