* {
    margin: 0;
    padding: 0;
  }
  
  p {
    color: black;
  }
  
  html {
    background-color: white;
  }
  
  main {
    display: flex;
    flex-direction: column;
  }
  
  .menu-desktop {
    display: none;
  }
  
  .titulo {
    display: flex;
    padding: 0.7rem;
    width: 1.5rem;
    height: 1.5rem
  }
  
  .titulo p {
    margin-left: 0.5rem;
    margin-top: 0.3rem;
    color: #CE5D5B;
  }
  
  .navbar {
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 2.75rem;
  }
  
  .navbar img {
    width: 1.5rem;
    height: 1.5rem;
  }
  
  .navbar ul {
    display: none;
    position: absolute;
    right: 0px;
    top: 3.375rem;
    background-color: #CE5D5B;
  }
  
  .navbar ul li {
    width: 100vw;
    height: 3.5rem;
    display: flex;
    align-items: center;
  }
  
  .navbar ul li a {
    padding-left: 1rem;
    text-decoration: none;
    font-family: "IBM Plex Mono", monospace;
    color: white;
    list-style: none;
  }
  
  
  .navbar .activar-menu {
    position: relative;
    height: 1.5rem;
  }
  
  .navbar .activar-menu input {
    padding: 1rem;
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    z-index: 4;
    height: 1.5rem;
    width: 1.5rem;
    opacity: 0;
  }
  
  .navbar .activar-menu input:checked~ul {
    display: flex;
    flex-flow: column wrap;
  }
  
  .navbar .activar-menu input:checked~.fa-bars {
    opacity: 0;
  }
  
  .navbar .activar-menu input:checked~.fa-times {
    opacity: 1;
  }
  
  .navbar .activar-menu .fas {
    padding: 0.5rem;
    position: absolute;
    right: 0px;
    height: 1.5rem;
    width: 1.5rem;
    font-size: 1.5rem;
    color: #CE5D5B;
  }
  
  .navbar .activar-menu .fa-bars {
    z-index: 3;
  }
  
  .navbar .activar-menu .fa-times {
    z-index: 2;
    opacity: 0;
  }